<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> My e-registrar System - List of student</title>
    <style>
        table {
            border: 1px solid;
            border-collapse: collapse;
        }
        table th, table td {
            border: 1px solid;
            padding: 1em;
            background: palevioletred;
        }

    </style>
</head>
<body>
<header th:replace = "fragments/header :: header"></header>
<main>
    <h1>Student list</h1>
    <p><a href="/eregistrar/student/new">Add New Student</a></p>
    <p><a href="/eregistrar/student/search">Search Student</a></p>
    <section>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th> Student Number</th>
                <th> Student First name</th>
                <th> Student Middle name</th>
                <th> Student Last name</th>
                <th> CGPA</th>
                <th> Enrollment Date</th>
                <th> Is International</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="student, counter : ${students}">
                <th scope="row" th:text="${counter.count} + '.'"></th>
                <td th:text="${student.studentNumber}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.middleName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.cgpa }"></td>
                <td th:text="${student.enrollmentDate}"></td>
                <td th:text="${student.isInternational}"></td>

            </tr>

            </tbody>
        </table>
    </section>
</main>
</body>
</html>